# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries by data scientists
- Data science tools
- Evaluvating arithmatic expressions in python

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Git and Github|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
print(200/60, "Hours")

3.3333333333333335 Hours

## Author
W. A. Dineth Savinda Perera